* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 20px;
  border: 1px solid #dadada;
  font-family: "Inter", sans-serif;
  &::placeholder {
    font-family: "Inter", sans-serif;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 400px;
  margin-top: 20px;
}

.calculator-buttons {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(99, 99, 253);
  border: none;
  width: calc(25% - 30px);
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
}

.calculator-buttons.secondary {
  background-color: rgb(79, 209, 197);
}
